{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {# {% include 'includes/preloader.html' %} #}


        <!-- Hero -->
        <section class="section-header  ">
            <div class="container">
                <div class="row pt-5 pt-md-0">
                    {% include 'includes/account_navigation.html' %}
                    <div class="col-12 col-lg-8">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>

      Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'zh-cn',
                events: [
                   {% for booked_date in booked_dates %}

                       { // this object will be "parsed" into an Event Object
                           title: '有客', // a property!
                           start: '{{ booked_date.strftime('%Y-%m-%d') }}' ,// a property!
                           display: 'background'

                        },
                    {% endfor %}


                ]
            });
            calendar.render();
        });

    </script>
  {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


