<div class="col-12 col-lg-4 mb-3 mb-lg-0">
    <div class="card border-gray-300 p-2">
        <div
                class="card-header bg-white border-0 text-center d-flex flex-row flex-lg-column align-items-center justify-content-center px-1 px-lg-4">
            <div class="profile-thumbnail dashboard-avatar mx-lg-auto me-3">
                {% if current_user.profiles %}
                    {% if current_user.profiles[0].photo %}
                        <img src="{{ url_for('profile_blueprint.profile_photo', filename=current_user.profiles[0].photo) }}"
                             class="card-img-top rounded-circle border-white">
                    {% else %}
                        <img src="{{ url_for('profile_blueprint.profile_photo', filename='default-user.png') }}"
                             class="card-img-top rounded-circle border-white" alt="Neil Portrait">
                    {% endif %}

                {% else %}
                    <img src="{{ url_for('profile_blueprint.profile_photo', filename='default-user.png') }}"
                         class="card-img-top rounded-circle border-white" alt="Neil Portrait">
                {% endif %}


            </div>
            <span class="h5 my-0 my-lg-3 me-3 me-lg-0">嗨, {{ current_user.username }}!</span>
            <a href="./logout"
               class="btn btn-gray-300 btn-xs">
                <span class="me-2">
                    <span
                            class="fas fa-sign-out-alt">
                </span>
                </span>退出</a>
        </div>
        <div class="card-body p-2 d-none d-lg-block">
            <div class="list-group dashboard-menu list-group-sm">
                <a href="{{ url_for('trips_blueprint.trips') }}"
                                                                    class="d-flex list-group-item border-0 list-group-item-action ">我的行程
                <span class="icon icon-xs ms-auto"><span
                        class="fas fa-chevron-right"></span></span> </a>
                <a
                    href="{{ url_for('comments_blueprint.my_comments') }}"
                    class="d-flex list-group-item border-0 list-group-item-action">我的评价<span
                    class="icon icon-xs ms-auto"><span
                    class="fas fa-chevron-right"></span></span> </a>
                <a
                    href="/settings.html"
                    class="d-flex list-group-item border-0 list-group-item-action">设置<span
                    class="icon icon-xs ms-auto"><span
                    class="fas fa-chevron-right"></span></span> </a>
                <a
                    href="{{ url_for('rooms_blueprint.my_rooms') }}"
                    class="d-flex list-group-item border-0 list-group-item-action">我是房东<span
                    class="icon icon-xs ms-auto"><span
                    class="fas fa-chevron-right"></span></span> </a>

                <a
                    href="{{ url_for('authentication_blueprint.edit_password') }}"
                    class="d-flex list-group-item border-0 list-group-item-action">修改密码<span
                    class="icon icon-xs ms-auto"><span
                    class="fas fa-chevron-right"></span></span> </a>
                <a href="{{ url_for('profile_blueprint.billing') }}"
                                                                       class="d-flex list-group-item border-0 list-group-item-action">收款设置<span
                    class="icon icon-xs ms-auto"><span
                    class="fas fa-chevron-right"></span></span> </a><a
                    href="/messages.html"
                    class="d-flex list-group-item border-0 list-group-item-action border-0">消息<span
                    class="icon icon-xs ms-auto"><span
                    class="fas fa-chevron-right"></span></span></a></div>
        </div>
    </div>
</div>
<div class="col-12 d-lg-none">
    <div class="card bg-white border-gray-300 mb-4 mb-lg-5">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-10 d-flex">
                    <a href="{{ url_for('trips_blueprint.trips') }}"
                                              class="list-group-item list-group-item-action border-0 text-center me-2 active">我的行程</a>
                    <a href="{{ url_for('comments_blueprint.my_comments') }}"
                                              class="list-group-item list-group-item-action border-0 text-center me-2 active">我的评价</a>
                    <a href="/settings.html"
                       class="list-group-item list-group-item-action border-0 text-center me-2">设置</a>
                    <a href="{{ url_for('rooms_blueprint.my_rooms') }}"
                       class="list-group-item list-group-item-action border-0 text-center me-2 d-none d-sm-block border-0">我是房东</a>
                    <a href="{{ url_for('authentication_blueprint.edit_password') }}"
                       class="list-group-item list-group-item-action border-0 text-center d-none d-md-block border-0">修改密码</a>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <div class="btn-group dropleft">
                        <button
                                class="btn btn-link dropdown-toggle dropdown-toggle-split me-2 m-0 p-0"
                                data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><span class="icon icon-sm"><span
                                class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                            </span><span class="sr-only">Toggle Dropdown</span></button>
                        <div class="dropdown-menu" style="">
                            <a href="{{ url_for('rooms_blueprint.my_rooms') }}"
                                                               class="list-group-item list-group-item-action d-sm-none border-0">我是房东</a>

                            <a href="{{ url_for('authentication_blueprint.edit_password') }}"
                               class="list-group-item list-group-item-action d-md-none border-0">修改密码</a>
                            <a href="{{ url_for('profile_blueprint.billing') }}"
                               class="list-group-item list-group-item-action border-0">收款设置</a>
                            <a href="/messages.html"
                               class="list-group-item list-group-item-action border-0">消息</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>