<footer class="footer pt-6 pb-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><strong>游彼迎</strong> 是一家联系旅游人士和家有空房出租的房主的服务型网站，它可以为用户提供多样的住宿信息。</p>

            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <h3 class="h5">开发语言</h3>
                <ul class="links-vertical">
                    <li class="d-block"><a target="_blank" href="https://www.python.org/">Python</a></li>
                    <li class="d-block"><a target="_blank" href="https://www.javascript.com/">Javascript</a></li>
                    <li class="d-block"><a target="_blank" href="https://html.com/html5/">HTML5</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <h3 class="h5">开源框架</h3>
                <ul class="links-vertical">
                    <li><a href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank">Flask
                            <span class="badge badge-sm badge-secondary me-2">v2.0</span></a></li>
                            <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap
                                <span class="badge badge-sm badge-secondary me-2">v5</span></a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <span class="h5">我来说两句</span>
                <p class="text-muted font-small mt-2">受限于本人的编程经验，网站开发设计还有很多的不足之处，请毫不吝啬的提出宝贵意见或建议吧
                </p>
                <form action="#">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 fw-normal text-muted d-none" for="exampleInputEmail3">Email address</label>
                            
                            <textarea class="form-control mb-2" placeholder="请在这里填写您的建议..." id="textarea" rows="3" required></textarea>
                        </div>
                        <div class="col-12 d-grid">
                            <button type="submit" class="btn btn-tertiary" data-loading-text="Sending">
                                <span>提交</span>
                            </button>
                        </div>
                    </div>
                </form>
               
            </div>
        </div>
        <hr class="bg-secondary my-3 my-lg-5">
        <div class="row">
            <div class="col mb-md-0">
                <a href="#" target="_blank" class="d-flex justify-content-center">
                    <img src="/static/assets/img/ByteCola.svg" height="32" class="mb-3" alt="ByteCola Logo">
                </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © ByteCola
                    <span class="current-year">2020</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>