{% if pagination.has_prev or pagination.has_next %}
<div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
  <nav aria-label="Page navigation example">
    <ul class="pagination mb-0">
      {% if pagination.has_prev %}
      <li class="page-item">
        <a class="page-link" data-page="{{ pagination.page - 1 }}" >上一页</a>
      </li>
      {% endif %}
      {% for page_num in pagination.page_range %}
        {% if page_num == pagination.page %}
          <li class="page-item active">
            <a class="page-link" href="">{{page_num}}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" data-page="{{ page_num }}" >{{page_num}}</a>
          </li>
        {% endif %}
      {% endfor%}
      {% if pagination.has_next %}
      <li class="page-item">
        <a class="page-link" data-page="{{  pagination.page + 1 }}">下一页</a>
      </li>
      {% endif %}
    </ul>
  </nav>
<div class="fw-normal small mt-4 mt-lg-0">总 <b>{{pagination.total_items}}</b> 条</div>
{#  <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{pagination.item_per_page}}</b> out of <b>{{pagination.total_items}}</b> entries</div>#}
</div>
{% endif %}