{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {# {% include 'includes/preloader.html' %} #}
        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="row pt-5 pt-md-0">
                   
                    {% include 'includes/account_navigation.html' %}
                    <div class="col-12 col-lg-8">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h1 class="h5 mb-3">我的消息</h1>
                        </div>
                        <div class="card border-gray-300 mb-1 py-3">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <div class="col-lg-3 col-8 ps-0 ms-2"><a href="#"
                                        class="h6 text-sm">支付通知</a></div>
                                <div class="col col-lg-1 text-right px-0 order-lg-4"><span
                                        class="text-muted text-sm">1月2日</span></div>
                                <div class="col-12 col-lg-7 d-flex align-items-center px-0">
                                    <div class="col col-lg-11 px-0">
                                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center"><a
                                                href="#"
                                                class="col-12 col-lg ps-0 fw-normal text-dark d-none d-sm-block mt-2 mt-lg-0">
                                                订单支付成功 ...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-gray-300 mb-1 py-3">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <div class="col-lg-3 col-8 ps-0 ms-2"><a href="#"
                                        class="h6 text-sm">收款通知</a></div>
                                <div class="col col-lg-1 text-right px-0 order-lg-4"><span
                                        class="text-muted text-sm">2月2日</span></div>
                                <div class="col-12 col-lg-7 d-flex align-items-center px-0">
                                    <div class="col col-lg-11 px-0">
                                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center"><a
                                                href="#"
                                                class="col-12 col-lg ps-0 fw-normal text-dark d-none d-sm-block mt-2 mt-lg-0">
                                                游客租房收款成功￥2000元 ...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-gray-300 mb-1 py-3">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <div class="col-lg-3 col-8 ps-0 ms-2"><a href="#"
                                        class="h6 text-sm">支付通知</a></div>
                                <div class="col col-lg-1 text-right px-0 order-lg-4"><span
                                        class="text-muted text-sm">1月2日</span></div>
                                <div class="col-12 col-lg-7 d-flex align-items-center px-0">
                                    <div class="col col-lg-11 px-0">
                                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center"><a
                                                href="#"
                                                class="col-12 col-lg ps-0 fw-normal text-dark d-none d-sm-block mt-2 mt-lg-0">
                                                订单支付成功 ...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-gray-300 mb-1 py-3">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <div class="col-lg-3 col-8 ps-0 ms-2"><a href="#"
                                        class="h6 text-sm">收款通知</a></div>
                                <div class="col col-lg-1 text-right px-0 order-lg-4"><span
                                        class="text-muted text-sm">2月2日</span></div>
                                <div class="col-12 col-lg-7 d-flex align-items-center px-0">
                                    <div class="col col-lg-11 px-0">
                                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center"><a
                                                href="#"
                                                class="col-12 col-lg ps-0 fw-normal text-dark d-none d-sm-block mt-2 mt-lg-0">
                                                游客租房收款成功￥2000元 ...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="card border-gray-300 mb-1 py-3">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <div class="col-lg-3 col-8 ps-0 ms-2"><a href="#"
                                        class="h6 text-sm">支付通知</a></div>
                                <div class="col col-lg-1 text-right px-0 order-lg-4"><span
                                        class="text-muted text-sm">1月2日</span></div>
                                <div class="col-12 col-lg-7 d-flex align-items-center px-0">
                                    <div class="col col-lg-11 px-0">
                                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center"><a
                                                href="#"
                                                class="col-12 col-lg ps-0 fw-normal text-dark d-none d-sm-block mt-2 mt-lg-0">
                                                订单支付成功 ...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-gray-300 mb-1 py-3">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <div class="col-lg-3 col-8 ps-0 ms-2"><a href="#"
                                        class="h6 text-sm">收款通知</a></div>
                                <div class="col col-lg-1 text-right px-0 order-lg-4"><span
                                        class="text-muted text-sm">2月2日</span></div>
                                <div class="col-12 col-lg-7 d-flex align-items-center px-0">
                                    <div class="col col-lg-11 px-0">
                                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center"><a
                                                href="#"
                                                class="col-12 col-lg ps-0 fw-normal text-dark d-none d-sm-block mt-2 mt-lg-0">
                                                游客租房收款成功￥2000元 ...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-gray-300 mb-1 py-3">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <div class="col-lg-3 col-8 ps-0 ms-2"><a href="#"
                                        class="h6 text-sm">支付通知</a></div>
                                <div class="col col-lg-1 text-right px-0 order-lg-4"><span
                                        class="text-muted text-sm">1月2日</span></div>
                                <div class="col-12 col-lg-7 d-flex align-items-center px-0">
                                    <div class="col col-lg-11 px-0">
                                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center"><a
                                                href="#"
                                                class="col-12 col-lg ps-0 fw-normal text-dark d-none d-sm-block mt-2 mt-lg-0">
                                                订单支付成功 ...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-gray-300 mb-1 py-3">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <div class="col-lg-3 col-8 ps-0 ms-2"><a href="#"
                                        class="h6 text-sm">收款通知</a></div>
                                <div class="col col-lg-1 text-right px-0 order-lg-4"><span
                                        class="text-muted text-sm">2月2日</span></div>
                                <div class="col-12 col-lg-7 d-flex align-items-center px-0">
                                    <div class="col col-lg-11 px-0">
                                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center"><a
                                                href="#"
                                                class="col-12 col-lg ps-0 fw-normal text-dark d-none d-sm-block mt-2 mt-lg-0">
                                                游客租房收款成功￥2000元 ...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                        
                        
                        
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center mt-5">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}