{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {# {% include 'includes/preloader.html' %} #}


        <!-- Hero -->
        <section class=" bg-primary section-header text-white">
            <div class="container-fluid p-0">
                <div class="row d-flex flex-end m-0 col-12 ">
                    <img src="https://a0.muscache.com/im/pictures/cc084530-b68d-4e43-9665-d6c8c11b1f78.jpg?aki_policy=xx_large"
                        class="  col-12 col-md-6 p-0 border border-2 border-black" alt="...">
                    <div class="col-6 d-md-block d-none">
                        <div class="row">
                            <img src="https://a0.muscache.com/im/pictures/1ebbd1c5-426a-492b-9dc2-f6bdb312c50d.jpg?aki_policy=large"
                                class="col-6 p-0  border border-2 border-black" />
                            <img src="https://a0.muscache.com/im/pictures/3ec9e2f7-268d-4997-b7d2-e0794e2e2e97.jpg?aki_policy=large"
                                class="col-6 p-0 border border-2 border-black" />

                        </div>
                        <div class="row">
                            <img src="https://a0.muscache.com/im/pictures/395fccab-ba0d-4bd5-b944-9f95e62ef86f.jpg?aki_policy=large"
                                class="col-6 p-0 border border-2 border-black" />
                            <img src="https://a0.muscache.com/im/pictures/b736ba9a-7f77-4b7f-a49f-ce3659221438.jpg?aki_policy=large"
                                class="col-6 p-0 border border-2 border-black" />

                        </div>
                    </div>

                </div>

            </div>

            <div class="container">
                <div class="row">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link fw-bold active border-bottom" aria-current="page" href="#">详情</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">评价</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">可订日期</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold ">须知</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link fw-bold disabled">房东</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container d-flex">
                <div class="col-12 col-xl-8 justify-content-start mt-4">
                    <div class="col-12 ">
                        <h1 class="display-4 mb-3 mt-2">可以中文沟通! 靠近环球影城! JR 西九条站, 日本独栋房, USJ, 梅田, 大阪 民宿, 难波</h1>

                    </div>
                    <div class="col d-flex ps-0">
                        <span class="text-success font-small me-3" style="font-size:.5rem">4.7分 · 98条评论</span>
                        <span class="text-muted font-small me-3" style="font-size:.5rem">中文房东</span>
                        <span class="text-muted font-small me-3" style="font-size:.5rem">自助入住</span>
                        <span class="text-muted font-small me-3" style="font-size:.5rem">近地铁站</span>
                        <span class="text-muted font-small me-3" style="font-size:.5rem">可以做饭</span>
                        <span class="text-muted font-small me-3" style="font-size:.5rem">暖气</span>
                    </div>

                    <div class="col d-flex border-top border-gray mt-4 pt-3  justify-content-center">
                        <img src="/static/assets/img/team/profile-picture-1.jpg"
                            class="rounded-circle img-thumbnail image-md border-secondary p-1" alt="Joseph Avatar">
                        <div class="col justify-content-center mx-2 p-3">
                            <h6 class="">房东：Joseph Garth<a href="#">联系房东</a></h6>
                            <span>2117条评价 已验证身份</span>
                        </div>

                    </div>
                    <div class="col bg-secondary p-2 rounded-2">
                        <p class="font-small">
                            谷町君酒店难波28备有舒适家具和厨房，是一家可以与家人朋友同乐的公寓式酒店。 从大阪观光中心大国町站步行5分钟，步行即可到达购物天堂道顿堀和难波区。
                            USJ和大阪城也可通过地下铁和其他交通方式轻松到达。 在谷町君酒店，您能享受到仿佛在家一般的舒适。
                        </p>
                        <a class="font-small text-success fw-bold" href="#">查看更多</a>
                    </div>

                    <div class="row col border-top border-secondary mt-4 pt-3">
                        <p class="col-12 row">
                            <span class="fw-bold  col-4">整个房源</span><span class="col-8">独享所有空间，无需与他人共用</span>
                        </p>
                        <p class="col-12 row">
                            <span class="fw-bold  col-4 ">入住/退房</span><span class="col-8">入住时间 下午3:00后、退房时间
                                上午10:00</span>
                        </p>
                        <p class="col-12 row">
                            <span class="fw-bold  col-4">自助入住</span><span class="col-8">通过密码钥匙盒自助入住</span>
                        </p>
                    </div>
                    <div class="row col border-top border-secondary mt-4 pt-4 text-center">
                        <div class="col-2 d-flex flex-column align-items-center">
                            <i class="fa fa-wifi fs-3"></i>
                            <span class="mt-3">无线网络</span>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <i class="fa fa-utensils fs-3"></i>
                            <span class="mt-3">可以做饭的厨房</span>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <i class="fas fa-air-freshener fs-3"></i>
                            <span class="mt-3">洗发水</span>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <i class="fab fa-bluetooth  fs-3"></i>
                            <span class="mt-3">吹风机</span>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <i class="fas fa-blender fs-3"></i>
                            <span class="mt-3">生活必需品</span>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center text-success">
                            <span class="fw-bold">9+</span>
                            <span class="mt-3">更多设施</span>
                        </div>
                    </div>
                    <div class="row border-top border-secondary mt-4 pt-4">
                        <h1 class="p-0 display-5">房客评价</h1>
                        <div class="row">
                            <p class="mt-4 p-0">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>98条评价</span>
                            </p>
                            <div class="d-flex flex-column flex-lg-wrap flex-lg-row  p-0">
                                <div class="row col-12 col-lg-6 py-2">
                                    <span class="col-6">如实描述</span>
                                    <span class="col-6 flex-end  text-end">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i></span>
                                </div>
                                <div class="row col-12 col-lg-6 py-2 ms-lg-4">
                                    <span class="col-6">位置便利</span>
                                    <span class="col-6 flex-end  text-end">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i></span>
                                </div>
                                <div class="row col-12 col-lg-6 py-2 ">
                                    <span class="col-6">沟通顺畅</span>
                                    <span class="col-6 flex-end  text-end">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i></span>
                                </div>
                                <div class="row col-12 col-lg-6 py-2 ms-lg-4">
                                    <span class="col-6">入住便捷</span>
                                    <span class="col-6 flex-end  text-end">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i></span>
                                </div>
                                <div class="row col-12 col-lg-6 py-2 ">
                                    <span class="col-6">干净卫生</span>
                                    <span class="col-6 flex-end  text-end">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i></span>
                                </div>
                                <div class="row col-12 col-lg-6 py-2 ms-lg-4">
                                    <span class="col-6">高性价比</span>
                                    <span class="col-6 flex-end  text-end">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="card bg-primary border-0 px-0 py-4 mb-2">
                                <div class="d-flex justify-content-between align-items-center mb-2"><span
                                        class="font-small"><a href="#"><img
                                                class="avatar-lg img-fluid rounded-circle me-2"
                                                src="/static/assets/img/team/profile-picture-1.jpg" alt="avatar"> <span
                                                class="fw-bold">Neil Sims</span> </a><span class="ms-2">March 26,
                                            19:25</span></span>

                                </div>
                                <p class="m-0">Hi Chris! Thanks a lot for this very useful template. Saved me a lot of
                                    time
                                    and searches on the internet.</p>
                            </div>
                            <div class="card bg-primary border-0 px-0 py-4 mb-3">
                                <div class="d-flex justify-content-between align-items-center mb-2"><span
                                        class="font-small"><a href="#"><img
                                                class="avatar-lg img-fluid rounded-circle me-2"
                                                src="/static/assets/img/team/profile-picture-1.jpg" alt="avatar"> <span
                                                class="fw-bold">Neil Sims</span> </a><span class="ms-2">March 26,
                                            19:25</span></span>

                                </div>
                                <p class="m-0">Hi Chris! Thanks a lot for this very useful template. Saved me a lot of
                                    time
                                    and searches on the internet.</p>
                            </div>
                            <div class="card bg-primary border-0 px-0 py-4 mb-3">
                                <div class="d-flex justify-content-between align-items-center mb-2"><span
                                        class="font-small"><a href="#"><img
                                                class="avatar-lg img-fluid rounded-circle me-2"
                                                src="/static/assets/img/team/profile-picture-1.jpg" alt="avatar"> <span
                                                class="fw-bold">Neil Sims</span> </a><span class="ms-2">March 26,
                                            19:25</span></span>

                                </div>
                                <p class="m-0">Hi Chris! Thanks a lot for this very useful template. Saved me a lot of
                                    time
                                    and searches on the internet.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" col-xl-4 d-xl-block d-none justify-content-end me-4 ms-5 text-dark">
                    <div class="card border-gray-300 p-4">
                        <div class="card-header border-0 bg-white  pb-0">
                            <h2 class="h4">￥103/每晚</h2>
                            <span>京都中心体验♪】京都站＆东福寺附近☆预约制停车场一晚500日元※配备厨房♪（Twin）</span>
                        </div>
                        <div class="card-body">
                            <form action="#" class="mt-4">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="start-date">日期</label>
                                    <div class="input-group align-items-center">
                                        <input data-datepicker="" class="form-control rounded-0" id="start-date"
                                            type="text" placeholder="yyyy-mm-dd" required> <i
                                            class="fas fa-angle-right m-2"></i>
                                        <input data-datepicker="" class="form-control rounded-0" id="end-date"
                                            type="text" placeholder="yyyy-mm-dd" required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="exampleInputPasswordModal1">人数</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span
                                                    class="fas fa-unlock-alt"></span></span>
                                            <select class="form-select" id="select" aria-label="Default select example">
                                                <option selected value="1">1人</option>
                                                <option value="2">2人</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="d-grid">
                                    <a href="../book/bill.html" class="btn btn-primary">预定</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="position-fixed bg-white d-xl-none bottom-0 p-2 text-dark col-12">
                <div class="row d-flex">
                    <div class="col-8 d-flex flex-column">
                        <span>￥103/每晚</span>
                        <div>
                            <span> <i class="fas fa-star"></i></span>
                            <span> <i class="fas fa-star"></i></span>
                            <span> <i class="fas fa-star"></i></span>
                            <span> <i class="fas fa-star"></i></span>
                            <span> <i class="fas fa-star"></i></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary btn-lg  p-3" data-bs-toggle="modal" data-bs-target="#modal-form"
                            type="button">
                            <span class="me-1"></span>
                            现在预定
                        </button>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <!-- 预定弹窗 -->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-fullscreen" role="document">
            <div class="modal-content ">
                <div class="modal-body p-0">
                    <div class="card border-gray-300 p-4">
                        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        <div class="card-header border-0 bg-white  pb-0">
                            <h2 class="h4">￥103/每晚</h2>
                            <span>京都中心体验♪】京都站＆东福寺附近☆预约制停车场一晚500日元※配备厨房♪（Twin）</span>
                        </div>
                        <div class="card-body">
                            <form action="#" class="mt-4">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="start-date">日期</label>
                                    <div class="input-group align-items-center">
                                        <input data-datepicker="" class="form-control rounded-0 " id="start-date"
                                            type="text" placeholder="yyyy-mm-dd" required> <i
                                            class="fas fa-angle-right m-2"></i>
                                        <input data-datepicker="" class="form-control rounded-0" id="end-date"
                                            type="text" placeholder="yyyy-mm-dd" required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="exampleInputPasswordModal1">人数</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span
                                                    class="fas fa-unlock-alt"></span></span>
                                            <select class="form-select" id="select" aria-label="Default select example">
                                                <option selected value="1">1人</option>
                                                <option value="2">2人</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="d-grid">
                                    <a href="../book/bill.html" class="btn btn-primary">预定</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
